<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">
   
	<context:annotation-config/>
	<context:component-scan base-package="org.shri.models" />
	<bean id="product" class="org.shri.models.Product">
		<property name="productId" value="1001"/>
		<property name="productName" value="Moto G5"/>
		<property name="productPrice" value="12000.00"/>
	</bean>
</beans>